In [1]:
print("Hello")

Hello

This is my first work

### 1.1 Support for numeric values in python

In [2]:
a = 10

In [3]:
b = 20

In [4]:
print(a + b )

30

In [5]:
type(a)

int

In [6]:
c = 31.131

In [7]:
type(c)

float

Q1. Given temperature t in Celcius, write a python expression to convert into farenheit.
Q2. Given two points A(x1, y1) and B(x2, y2), calculate the straight line distance between them.
Q3. Calculate the area of the triangle with threen given points A(x1, y1), B(x2, y2), C(x3, y3).

In [19]:
#Q1

c = 37
f = ( c * (9 / 5) ) + 32
print(f)

98.60000000000001

In [16]:
# Q2

import math
x1 = 3
y1 = 2

x2 = 4
y2 = 1

d = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print(d)

1.4142135623730951

In [20]:
#Q3

import math
x1 = 3
y1 = 2

x2 = 4
y2 = 2

x3 = 5
y3 = 6

a = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
b = math.sqrt((x2 - x3)**2 + (y2 - y3)**2)
c = math.sqrt((x3 - x1)**2 + (y3 - y1)**2)

s = (a + b + c) / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))
print(area)

2.000000000000002