In [2]:
## basket = ["Apple", "Banana", "Cherry", "Mango"]  
## Task: Insert "Grapes" between "Banana" and "Cherry".  

basket = ["Apple", "Banana", "Cherry", "Mango"]  
basket.insert(2,"Grapes")
basket

['Apple', 'Banana', 'Grapes', 'Cherry', 'Mango']

In [4]:
## data = [10, 20, [30, 40, 50], 60, 70]  
## Task: Change 40 to 45 inside the nested list.  

data = [10, 20, [30, 40, 50], 60, 70] 
data[2][1] = 45
data

[10, 20, [30, 45, 50], 60, 70]

In [6]:
## nums = [3, 6, 9, 12, 15, 18, 21]  
## Task: Extract [9, 12, 15] and reverse it. 

nums = [3, 6, 9, 12, 15, 18, 21] 
nums[2:5].reverse()
nums

[3, 6, 9, 12, 15, 18, 21]

In [9]:
## numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
##  Task: Remove all occurrences of 5 from numbers.  

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  

for i in numbers:
    if i == 5:
        numbers.remove(5)
numbers

[3, 8, 10, 12]

In [18]:
# list1 = [8, 3, 1, 7]  
# list2 = [4, 9, 2, 6]  
# Task: Merge list1 and list2, then sort the combined list.  

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6] 

list_new = list1 + list2
list_new.sort()
list_new

[1, 2, 3, 4, 6, 7, 8, 9]

In [20]:
del list  # Deletes the variable 'list' from the current scope

In [21]:
# colors = ("Red", "Green", "Blue", "Yellow")  
# Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple. 

colors = ("Red", "Green", "Blue", "Yellow")  
temp = list(colors)
temp[1] = "Cyan"
colors = tuple(temp)
colors

('Red', 'Cyan', 'Blue', 'Yellow')

In [22]:
# names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
# Task: Find the index of "Charlie".  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
names.index("Charlie")

2

In [24]:
# nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
# Task: Count how many times 4 appears in nums_tuple.  

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
nums_tuple.count(4)

4

In [34]:
# values = [10, 20, 30, 40, 50]  
# Task: Swap the first and last elements.  

values = [10, 20, 30, 40, 50]  
temp = values[0]
values[0] = values[-1]
values[-1] = temp
values

[50, 20, 30, 40, 10]

In [30]:
# values = []
# Task: Generate a list of squares for numbers from 1 to 10.  

values = []
for i in range (1, 11):
    values.append(i * i)
values

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# my_tuple = (1, 2, 3, 4, 5)  
# Task: Reverse my_tuple without converting it to a list.  

my_tuple = (1, 2, 3, 4, 5)  
tuple(reversed(my_tuple))

(5, 4, 3, 2, 1)

In [42]:
# data = [23, 45, 67, 12, 89, 34]  
# Task: Find the maximum and minimum values in data.  

data = [23, 45, 67, 12, 89, 34]  
data.sort()
print(data[0], data[-1])

12 89

In [43]:
# nums = [10, 20, 30, 40, 50, 60, 70]  
# Task: Extract every second element from nums.  

nums = [10, 20, 30, 40, 50, 60, 70] 
nums[::2]

[10, 30, 50, 70]

In [44]:
# nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
# Task: Convert nested_list into a single flat list.  

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
new_one = nested_list[0] + nested_list[1] + nested_list[2]
new_one

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# list_a = [1, 2, 3, 4, 5, 6]  
# list_b = [4, 5, 6, 7, 8, 9]  
# Task: Find common elements between list_a and list_b.  

list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  

for i in list_a:
    for j in list_b:
        if(i == j):
            print(i, end = ',')

4,5,6,

In [45]:
# scores = [78, 55, 92, 30, 88, 62]  
# Task: Sort scores in descending order.  

scores = [78, 55, 92, 30, 88, 62]  
scores.sort(reverse=True)
scores

[92, 88, 78, 62, 55, 30]

In [47]:
# my_tuple = (1, 2, 3)  
# Task: Repeat my_tuple three times and store the result.  

my_tuple = (1, 2, 3)  
my_new = my_tuple * 3
my_new

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [52]:
# numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
# Task: Remove duplicates while keeping the order.  

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  

for i in numbers:
    a = numbers.count(i)
    if a>1:
        numbers.remove(i)
numbers

[1, 2, 3, 4, 5, 6]

In [48]:
# words = ["Hello", "World", "Python", "Programming"]  
# Task: Insert "Amazing" at index 2.  

words = ["Hello", "World", "Python", "Programming"]  
words.insert(2,"Amazing")
words

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [49]:
# pairs = [("a", 1), ("b", 2), ("c", 3)]  
# Task: Convert pairs into a dictionary.  

pairs = [("a", 1), ("b", 2), ("c", 3)]  
dict(pairs)

{'a': 1, 'b': 2, 'c': 3}