In [3]:
class employee:

    nEmployees = 0

    def __init__(self,name, age, company, salary):
        self.name = name
        self.age = age
        self.company = company
        self.salary = salary
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary
        employee.nEmployees += 1

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return

    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.taxrate/100)
            self.net_salery = ' '.join([temp, 'INR'])
        except:
            print("incompatible operation")

    def update_net_salary(self):
        try:
            temp =float(self.salary.split()[0])
            temp = temp - (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible input")

    def print(self):
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-" * 80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, 'pct')
        print("-" * 80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

In [4]:
e  = employee("Anna", 25, "UST Global", "1500000 INR")

In [5]:
e.print()

NAME                  ->  Anna
AGE                   ->  25
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0 pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000 INR

In [6]:
e.set_taxrate(10)
e.print()

NAME                  ->  Anna
AGE                   ->  25
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  0 pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000.0 INR

In [7]:
e.set_bonus(10)
e.print()

incompatible operation
NAME                  ->  Anna
AGE                   ->  25
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10 pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000.0 INR

In [8]:
employee.nEmployees

1

In [9]:
e.nEmployees

1

In [10]:
e1 = employee("Sunil", 35, "UST Global", "1500000 INR")
e2 = employee("Vinil", 35, "UST Global", "1500000 INR")

In [11]:
e.nEmployees

3

In [12]:
e.nEmployees, e1.nEmployees, e2.nEmployees

(3, 3, 3)